<section class="section container-fluid">
    <h1 class="page-header">Configuration</h1>

    <div class="scrollable">
        <div class="scrollable-content">
            <div class="section">
                <div class="panel-group" ui-state='myAccordion' ui-default='1'>

                    <div class="panel panel-default">

                        <div class="panel-heading" ui-set="{'myAccordion': 1}">
                            <div class="fa fa-unlock-alt fa-3x">
                                <h4 class="panel-title">
                                    Your signing keys
                                </h4>
                            </div>
                        </div>
                        <div ui-if="myAccordion == 1" ui-scope-context='1'>
                            <div class="panel-body">
                                Content!
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">

                        <div class="panel-heading" ui-set="{'myAccordion': 2}">
                            <div class="fa fa-credit-card fa-3x">
                                <h4 class="panel-title">
                                    Your wallet
                                </h4>
                            </div>
                        </div>
                        <div ui-if="myAccordion == 2" ui-scope-context='2'>
                            <div class="panel-body">
                                Content!
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
</section>