<section class="section container-fluid">
    <h1 class="page-header">Welcome</h1>

    <div class="scrollable">
        <div class="scrollable-content">
            <div class="section">
                <h3>
                    <span>dgmt agreement manager</span>
                </h3>

                <div class="panel panel-default">

                    <div class="panel-heading">
                        <div class="fa fa-users fa-2x">
                        </div>
                        <span class="fa fa-2x pull-right">welcome</span>
                    </div>

                    <div class="panel-body">
                        Please select an option from the menu on the left
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>