<section class="section container-fluid">
    <h1 class="page-header">Login</h1>

    <div class="scrollable">
        <div class="scrollable-content">
            <div class="section">
                <h3>
                    <span ng-show="context == null;">log in</span>
                    <span ng-show="context != null;">register</span>
                </h3>

                <div class="panel panel-default" ng-show="context == null;">

                    <div class="panel-heading">
                        <div class="fa fa-sign-in fa-2x">
                        </div>
                        <span class="fa fa-2x pull-right">log in</span>
                    </div>

                    <div class="panel-body">
                        <form name="loginForm" novalidate>
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon fa fa-envelope"></span>
                                <input type="text" class="form-control" name="email" aria-label="Email"
                                       placeholder="Email" ng-model="userName" required="true"/>
                                <span style="color:red"
                                      ng-show="loginForm.email.$dirty && loginForm.email.$invalid">
                                              Email is required!
                                        </span>
                            </div>

                            <br/>

                            <div class="input-group input-group-lg">
                                <span class="input-group-addon fa fa-key"></span>
                                <input type="password" class="form-control" name="password"
                                       aria-label="Password"
                                       placeholder="Password" ng-model="password" required="true"/>

                                <span style="color:red"
                                      ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
                                              Password is required!
                                        </span>
                            </div>

                            <br/>

                            <div class="input-group input-group-lg pull-right">
                                <button type="button" ng-show="loginForm.$valid"
                                        class="btn btn-default btn-lg pull-right"
                                        ng-click="login(userName, password);">login
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="panel panel-default" ng-show="context != null">
                    <div class="panel-heading justified">
                        <span class="fa fa-pencil fa-2x"></span>
                        <span class="fa fa-2x text-center">person</span>
                        <span class="fa fa-chevron-left fa-2x text-right" ui-toggle="uiSidebarRight"></span>
                    </div>

                    <div class="panel-body">
                        <form name="registrationForm">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon fa fa-user"></span>
                                <input type="text" class="form-control" name="firstName" aria-label="FirstName"
                                       placeholder="First Name" ng-model="firstName"
                                       ng-minlength="3" ng-maxlength="50" required="true"/>
                            </div>
                                    <span style="color:red"
                                          ng-show="registrationForm.firstName.$dirty && registrationForm.firstName.$invalid">
                                              Invalid first name (min. 3 characters required)
                                        </span>
                            <br/>

                            <div class="input-group input-group-lg">
                                <span class="input-group-addon fa fa-user"></span>
                                <input type="text" class="form-control" aria-label="LastName" name="lastName"
                                       placeholder="Last Name" ng-model="lastName" ng-minlength="3"
                                       ng-maxlength="50"
                                       required="true"/>

                            </div>
                                     <span style="color:red"
                                           ng-show="registrationForm.lastName.$dirty && registrationForm.lastName.$invalid">
                                              Invalid last name (min. 3 characters required)
                                        </span>
                            <br/>

                            <div class="input-group input-group-lg">
                                <span class="input-group-addon fa fa-envelope"></span>
                                <input type="email" class="form-control" aria-label="Email" name="userName"
                                       placeholder="Email" ng-model="userName" required="true"/>

                            </div>
                                    <span style="color:red"
                                          ng-show="registrationForm.userName.$dirty && registrationForm.userName.$invalid">
                                              Invalid email
                                        </span>
                            <br/>

                            <div class="input-group input-group-lg">
                                <span class="input-group-addon fa fa-key"></span>
                                <input type="password" class="form-control" aria-label="Password"
                                       name="password"
                                       placeholder="Password" ng-model="password" required="true"
                                       ng-minlength="5" ng-maxlength="20"/>

                            </div>
                                     <span style="color:red"
                                           ng-show="registrationForm.password.$dirty && registrationForm.password.$invalid">
                                              Invalid password
                                        </span>
                            <br/>

                            <div class="input-group input-group-lg">
                                <span class="input-group-addon fa fa-mobile-phone"></span>
                                <input type="text" class="form-control" aria-label="Phone"
                                       name="mobile"
                                       placeholder="Mobile number" ng-model="mobile" required="true"
                                       ng-minlength="5" ng-maxlength="20"/>

                            </div>
                                     <span style="color:red"
                                           ng-show="registrationForm.mobile.$dirty && registrationForm.mobile.$invalid">
                                              Invalid mobile number
                                        </span>
                            <br/>

                            <div class="btn-group btn-group-lg">
                                <div class="input-group input-group-lg">
                                        <span class="input-group-addon dropdown-toggle" ui-turn-on='roleDropdown'>
                                            <i class="fa fa-ellipsis-v"></i>
                                        </span>
                                    <input type="text" class="form-control" placeholder="Select role"
                                           aria-label="Role" name="role" required="true"
                                           ng-model="role"/>
                                </div>

                                <div class="input-group input-group-lg">
                                    <ul class="dropdown-menu"
                                        ui-outer-click="Ui.turnOff('roleDropdown')"
                                        ui-outer-click-if="Ui.active('roleDropdown')"
                                        role="menu"
                                        ui-show="roleDropdown"
                                        ui-state="roleDropdown"
                                        ui-turn-off="roleDropdown">

                                        <li ng-repeat="role in roles" ng-click="roleSelected(role);">
                                            <a>{{role}}</a>
                                        </li>
                                    </ul>

                                     <span style="color:red"
                                           ng-show="registrationForm.role.$dirty && registrationForm.role.$invalid">
                                              Invalid role
                                        </span>
                                </div>

                                <br/>

                                <div class="input-group input-group-lg pull-right">
                                    <button type="button" ng-show="registrationForm.$valid"
                                            class="btn btn-default btn-lg"
                                            ng-click="register(firstName, lastName, userName, password, mobile, role);">
                                        register
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <modal redirect='true'></modal>
</section>